body
  margin 0
  min-width 320px
  font-family --font-family-primary, sans-serif
  font-size --font-size_sm
  font-weight --font-weight_xs
  line-height --line-height_xs
  background-color --color-white
