--container-width = 1400px
--container-margins = 55px
--container-margins_md = 31px
--container-margins_sm = 27px
--container-margins_xs = 21px
--font-family-primary = 'Roboto'
--font-family-secondary = 'ttfirsneue'
--font-size_xxs = 1.20rem
--font-size_xs = 1.40rem
--font-size_sm = 1.60rem
--font-size_md = 1.80rem
--font-size_lg = 2.00rem
--font-size_xl = 2.40rem
--font-size_xxl = 3.40rem
--line-height_xs = 1.04
--line-height_sm = 1.17
--line-height_md = 1.29
--line-height_lg = 1.38
--line-height_xl = 1.75
--font-weight_xs = 400
--font-weight_sm = 500
--font-weight_md = 600
--font-weight_lg = 700
--font-weight_xl = 800
--warning-color-primary = #ff3030
--success-color-primary = #7cbc4a
--brend-color = #ff6e30
--background-color-primary = #ff5c00
--background-color-secondary = #202020
--color-focus-primary = #ff6e30
--color-hover-primary = #bc572b
--color-active-primary = #ce4307
--border-color-primary = #ff6e30
--border-color-secondary = #ce4307
--text-color-primary = #fff
--text-color-secondary = #202020
--form-text-color-primary = #202020
--color-dark-grey = #202020
--color-middle-grey = #999
--color-light-grey = #e9e9e9
--color-white = #fff
--color-black = #000
--transition-time_slow = 0.210s
--transition-time_fast = 0.100s

--breakpoint_xs = 40em
--breakpoint_sm = 56em
--breakpoint_md = 66em
--breakpoint_lg = 82em
--grid-columns = 12
--grid-gap = 3.00rem
--link_css-effects = 'plain'
